.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.card {
  width: 38%;
  height: 28vh;
  background-color: rgb(178, 231, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  border: 3px solid white;
}
.name-user {
  display: flex;
  text-align: center;
}
.button {
  margin-right: 10px;
  align-content: center;
}
.photo {
  margin-top: 10px;
}
